p {
	font-size: 9pt;
}

li {
	font-size: 9pt;
}

.circle {
	width:250px; 
	height:250px; 
	opacity: .6; 
	border-radius: 50%;  
	background-color:gray;
	display: inline-table;
	text-align: center;

}

#footer {
	text-align: center;

}


#line_of_circles{

	border: 1px solid;
	border-color: black;
	width:1020px;
	margin: auto;

}