p {
	color: black;
	font-size: 9pt;
}

.circle {
	width:200px; 
	height:200px; 
	opacity: .6; 
	border-radius: 50%; 
	margin: auto; 
	background-color:gray;
	margin: 0%
	display: inline;

}

#circle1 {



}
