p {
	font-size: 9pt;
}

li {
	font-size: 9pt;
}

.circle {
	width:200px; 
	height:200px; 
	opacity: .6; 
	border-radius: 50%; 
	margin: auto; 
	background-color:gray;
	margin: auto;
	display: inline-table;

}

#footer {
	text-align: center;

}