p {
	font-size: 9pt;
}

li {
	font-size: 9pt;
}

img {
	margin-right: auto;
	margin-left: auto;
}

#images {

	text-align: center;

}

#title{
text-align: center;

} 

#subtitle{
text-align:center;

}

.circle {
	width:250px; 
	height:250px; 
	opacity: .6; 
	border-radius: 50%;  
	background-color:gray;
	display: inline-table;
	text-align: center;

}

#footer {
	text-align: center;

}


#line_of_circles{
	width:1015px;
	margin: auto;

}

.textbox {

	width: 175px;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
}





