p {
	font-size: 9pt;
	color: black;
}


li {
	font-size: 9pt;
}

ul {
	font-size: 9pt;
	width: 70%;
	margin: auto;
}

img {
	margin-right: auto;
	margin-left: auto;
}

#images {

	text-align: center;

}

#title{
text-align: center;
color:#796E24;
text-decoration: none;

} 

#subtitle{
text-align:center;
color: #A34E24;

}

.circle {
	width:250px; 
	height:250px; 
	opacity: .6; 
	border-radius: 50%;  
	background-color: #EA7D24;
	display: inline-table;
	text-align: center;

}

#footer {
	text-align: center;

}


#line_of_circles{
	width:1015px;
	margin: auto;

}

.textbox {

	width: 175px;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
}

body {
	background-color: #F9Df8D;
}



