#header {
background-color: #F79B2E;
width: 100%;
text-align: center;
color: black;
border-bottom: 3px dashed black;
padding-bottom: 5px;

}

#footer {
background-color: #E1358D;
width: 100%;
height: 30px;
position: absolute;
bottom:0;
text-align: center;
color: white;
font-size: 10px;

border-top: 3px dashed black;
padding-top: 5px;
margin-top: 10px;

}

#content_area {
width: auto;
height: auto;
color: black;
float:left;
margin: 10px;
padding: 0px 10px 10px 10px;
}

.sidebar {
float: left;
background-color: #2EAFB0;

width: 150px;
height: 100%;
text-align: center;
margin: 10px 10px 10px 0px;
border-radius: 5%;

}

body{

background-color: #EFEFEF;
font-family: sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

#title{
text-align: center;
font-size: 30px; 
text-decoration: none;



} 

#subtitle{
text-align:center;
font-size: 12px;

}

#profile_pic {
	height: 140px;
	width: 140px;
	border-radius: 50%;

}

.pic_with_caption {

	text-align: center;
	padding: 5px;
}

#sidebar_links {

	font-size: 12px;
	font-weight: bold;
}

a:hover {
	color: #E1358D;
}

.poem {
	font-size: 8pt;
	line-height: 40%;
}

.poem_title {

	color:#2EAFB0;
	font-family: serif;
	font-size: 12pt;
}