body {
	
	font-family:sans-serif;
	background-color: white;
	color: black;

}

#header{

	color: white;
	border-bottom-color: #7F909A;
	border-bottom-style: solid;
	height: auto;

}

img {
	width:50%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	display: block;
	margin: auto;
}


#title {
	display: inline;
	text-align: center;
	margin: auto;
	font-size: 30pt;
	color: #ED6639;
}


h3 {
	text-align: left;
	color: #385B9F;
	padding-top: 20px;
	font-size: 22pt;
}

h4 {
	text-align: left;
	color: #ED6639;
	padding-top: 20px;
	font-size: 14pt;

}

strong {
	color: #385B9F;
}

a {
	text-decoration: none;
	color: #385B9F;
}

p {
	text-align: left;
	color: black;
	line-height: 24px;
}

#content_container{
	height: auto;
	width: 600px;
	margin: auto;
	margin-top: 20px;
}


.code {
	background-color: rgba(96, 96, 96, .2);
	color: black;
	padding: 5px;
	font-family: courier;
	font-size: 12px;
}

comment {
	color: grey;
}

input {
	background-color:  #385B9F;
	width: 100%;
	color: white;
	border: none;
	box-shadow: none;
	font-weight: bold;
	text-align: left;
	padding: 5px;
}

.array {
	font-weight: bold;
}

.caption { 

	font-size: 10px;
	text-align: center;
}

a p {
	color:black;
}

li {
	line-height: 24px;
}

#links{
	padding-right: 10px;
	font-weight: bold;
	text-align: right;
	position: absolute;
	top: 10px;
	right: 20px;

}

#links a {
		color:#7F909A;
}


@media screen and (max-width: 800px){

	#content_container {
		width: 90%;
	}

	#header {
		text-align: center;
	}

	#links{
		position: relative;
		text-align: center;
		left: 20px;

	}

	h3 {
		text-align: center;
	}

}








