#header {

	background-color: white;
	width: 100%;
	height: 125px;
	top: 0;
	left: 0;
	text-align: center;

}

#title {
	margin: none;
	padding: none;
	font-family: sans-serif;
	font-size: 60pt;
	color:black;

}

h1 {
	margin: 0;
	padding: 0;
	border: 0;

}

body{
	font-family: sans-serif;
}

.banner h2{
	margin: 0;
	padding: 0;
	border: 0;
	height: 125px;

	font-family: sans-serif;
	font-size: 40pt;
	color: black;
}

.banner h2:hover{
	color:white;
}

.banner1 {
	background-color: #DC0055;
}

.banner2 {
	background-color: #FF9E00;
}

.banner3 {
	background-color: #FF4C00;
}

a {
	text-decoration: none;
}

.code {
	background-color: rgba(96, 96, 96, .2);
	color: black;
	padding: 5px;
	font-family: courier;
	font-size: 12px;
}

comment {
	color: gray;
}

#content {
	height: auto;
	width: 700px;
	margin: auto;
}


@media screen and (max-width: 900px){

	#title{
		font-size: 50px;
	}

}

@media screen and (max-width: 700px){

	#content{
		width: 80%;
	}

}

#table_of_contents{
	margin-top: 20px;
	margin-bottom: 50px;
}

#content h3 {
	color: #FF9E00;
	margin-top: 50px;
}

#table_of_contents h2 {
	color: #DC0055;
}


#table_of_contents a:link {color:black;}     
#table_of_contents a:visited {color:#015965;}

.line {
	background-color: #015965;
	width: 100%;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 16pt;
}









